<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Seja bem vindo!</h1>
    <p>Criando a primeira página Django!<br> Agora a o projeto contendo um repositório git remoto!<br>Disponível <a href="https://github.com/jflaviojf3/Django-Udemy"> aqui</a>></p>
    <p>Agora são: {{ now }}</p>
    <ul>
        {% for transacao in transacoes%}
        {% if transacao == 'conta oi'%}
        <li><b><a href="https://www.oi.com.br/minha-oi/" target="blank">{{transacao}}</a></b></li>
        {% else %}
        <li>{{transacao}}</li>
        {% endif%}

        {% endfor %}
    </ul>
    <br>
    <form action="http://127.0.0.1:8000/admin/">
        <button type="submit">Admin</button>
    </form>
</body>
</html>